.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 80px;
  padding-bottom: 40px;
}

.colorblack {
  color: black;
}

.colorblue {
  color: #57ceff;
}

li {
  list-style-type: none;
}

header nav {
  background-color: #35444f;
}

.navbar {
  display: flex;
  text-align: center;
  padding-left: 170px;
}

nav.navbar a {
  color: white;
  font-size: 24px;
  outline: 1px solid;
  padding: 20px 25px;
}

nav.navbar a:hover {
  background: #222f3a;
}

.menu {
  float: left;
  margin: 0 auto;
  width: 345px;
  border: 1px solid #000;
}

.content {
  margin-top: 48px;
}

.left-navbar li {
  padding: 27px 45px;
  font-size: 27px;
  color: #485863;
}

.left-navbar li:hover {
  background: #dbdbdb;
  color: #000;
  text-align: center;
}

.main {
  float: right;
  margin: 0 auto;
  width: 885px;
  margin-bottom: 50px;
}

.wrap {
  width: 885px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #000;
}

.wrap:hover img {
  transform: scale(1.5);
  transition-duration: 1s;
}

.text p {
  font-size: 18px;
  margin-top: 35px;
  line-height: 24px;
}

footer {
  display: flex;
  clear: both;
  margin-bottom: 0;
  background: #63696e7a;
}

.footer-navbar {
  display: flex;
}

footer a {
  font-size: 28px;
  color: #0c1927;
  margin: 0 auto;
  padding: 20px;
}

footer p {
  font-size: 24px;
  margin: 0 auto;
  margin-top: 24px;
}

footer li:hover {
  color: #3181a6;
  border-bottom: 3px solid #3181a6;
  /*text-decoration: underline 3px solid #3181a6*/
}
